<h1>Login</h1>
	<% if @professor_session.errors.has_key? :base %>
		<div id="error_explanation">
			<%= @professor_session.errors[:base].join(', ') %>
		</div>
		<% end %>
		<%= form_for @professor_session do |f| %>
		<p>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</p>
		<p>
			<%= f.submit %>
		</p>
		<% end %>
		<p>
			<%= link_to t('.sign_up'), new_professor_path %>
		</p>