<%= form_for(@enterprise) do |f| %>
  <% if @enterprise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enterprise.errors.count, "error") %> prohibited this enterprise from being saved:</h2>

      <ul>
      <% @enterprise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fantasyname %><br>
    <%= f.text_field :fantasyname %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :fone %><br>
    <%= f.text_field :fone %>
  </div>
  <div class="field">
    <%= f.label :obs %><br>
    <%= f.text_area :obs %>
  </div>

  <div class="field">
     <%= f.label :Usuário%><br>
    <%= f.select :user_id, User.all.collect {|p| [p.fullname, p.id]}%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
