<p id="notice"><%= notice %></p>

<p>
  <strong>Fantasyname:</strong>
  <%= @enterprise.fantasyname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @enterprise.address %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @enterprise.fone %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @enterprise.user.fullname %>
</p>



<p>
  <strong>Obs:</strong>
  <%= @enterprise.obs %>
</p>

<%= link_to 'Edit', edit_enterprise_path(@enterprise) %> |
<%= link_to 'Back', enterprises_path %>
